<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" href="https://i.ibb.co/Tcg37Wn/image-removebg-preview-2.png"> 
</head>
<body>

   <nav class="navbar">
    <div id="navbar">
        <a href="/inicio" class="navbar-button">Inicio</a>
        <a href="/ingresado" class="navbar-button">Volver</a>
    </div>
   </nav>

   <div class="container">
    <h1>Te mostramos el calendario de la Copa Renault</h1>    
    <img src="{{ url_for('static', filename='images/calendario.png') }}" class="calendario-img">
</div>
</body>
</html>
