<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deportes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 
    <link rel="icon" href="https://i.ibb.co/Tcg37Wn/image-removebg-preview-2.png">
</head>
<body>

   <nav class="navbar">
    <div id="navbar">
        <a href="/inicio" class="navbar-button">Inicio</a>
        <a href="/ingresado" class="navbar-button">Volver</a>
    </div>
   </nav>

   <div class="container">
    <h1>Horarios de los partidos</h1>  
    
    <div class="recuadro">
        <div class="deportes">
            <h1>Fútbol</h1>
            <p>09:45: Colegio 1 vs Colegio 2</p>
            <p>11:15: Colegio 3 vs Colegio 4</p>
            <p>12:45: Colegio 5 vs Colegio 6</p>
            <p>14:15: Colegio 7 vs Colegio 8</p>
            <p>15:45: Colegio 9 vs Colegio 10</p>
            <p>17:15: Colegio 11 vs Colegio 12</p>
            <p>18:45: Colegio 13 vs Colegio 14</p>
        </div>
        
        <div class="deportes">
            <h1>Basket</h1>
            <p>9:45: Colegio 1 vs Colegio 2</p>
            <p>10:30: Colegio 3 vs Colegio 4</p>
            <p>11:15: Colegio 5 vs Colegio 6</p>
            <p>12:00: Colegio 7 vs Colegio 8</p>
            <p>12:45: Colegio 9 vs Colegio 10</p>
            <p>13:30: Colegio 11 vs Colegio 12</p>
            <p>14:15: Colegio 13 vs Colegio 14</p>
            <p>15:00: Colegio 15 vs Colegio 16</p>
            <p>15:45: Colegio 17 vs Colegio 18</p>
            <p>16:30: Colegio 19 vs Colegio 20</p>
            <p>17:15: Colegio 21 vs Colegio 22</p>
            <p>18:00: Colegio 23 vs Colegio 24</p>
        </div>  

        <div class="deportes">
            <h1>Voley</h1>
            <p>9:45: Colegio 1 vs Colegio 2</p>
            <p>10:15: Colegio 3 vs Colegio 4</p>
            <p>10:45: Colegio 5 vs Colegio 6</p>
            <p>11:15: Colegio 7 vs Colegio 8</p>
            <p>11:45: Colegio 9 vs Colegio 10</p>
            <p>12:15: Colegio 11 vs Colegio 12</p>
            <p>12:45: Colegio 13 vs Colegio 14</p>
            <p>13:15: Colegio 15 vs Colegio 16</p>
            <p>13:45: Colegio 17 vs Colegio 18</p>
            <p>14:15: Colegio 19 vs Colegio 20</p>
            <p>14:45: Colegio 21 vs Colegio 22</p>
            <p>15:15: Colegio 23 vs Colegio 24</p>
            <p>15:45: Colegio 25 vs Colegio 26</p>
            <p>16:15: Colegio 27 vs Colegio 28</p>
            <p>16:45: Colegio 29 vs Colegio 30</p>
            <p>17:15: Colegio 31 vs Colegio 32</p>
            <p>17:45: Colegio 33 vs Colegio 34</p>
            <p>18:15: Colegio 35 vs Colegio 36</p>
        </div>
    </div>
</div>
</body>
</html>