<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 
    <link rel="icon" href="https://i.ibb.co/Tcg37Wn/image-removebg-preview-2.png">
</head>
<body>

   <nav class="navbar">
    <div id="navbar">
        <a href="/inicio" class="navbar-button">Inicio</a>
        <a href="/ingresado" class="navbar-button">Volver</a>
    </div>
   </nav>

   <div class="container">
    <h1>Precios de la cantina para la copa</h1>    
    <div class="precios">
        <div> 
            <h2>Comidas</h2>
            <p>Panchos $1500</p>
            <p>Sandwich de miga $1500</p>
            <p>Choripan $3500</p>
            <h2>Bebidas</h2>
            <p>Cocacola 500cc $1000</p>
            <p>Pepsi 500cc $800</p>
            <p>Vaso de limonada 500cc $750</p>
        </div>
    </div>
</div>
</body>
</html>